Scenario(
  course: Course(
    length: 600,
    speed_changes: {
      0: Velocity(x: 32.0, y: 0),
    }
  ),
  events: {
    30: [
      SpawnWitch(Sora, Position(x: -600, y: 0)),
    ],
    60: [
      SpawnEnemy(Enemy01, Attack01, Position(x: 600, y: 0)),
    ],
  }
)
