Scenario(
  course: Course(
    changes: {
      0: Constant(32.0, 0),
    }
  ),
  events: {
    60: [
      SpawnEnemy(EnemyDescription(
        body: Enemy01,
        position: Position (
          x: 600.0,
          y: 0,
        ),
        motion: Some(Constant(-2.0, 0)),
      )),
    ],
  }.
)
