Scenario(
  course: Course(
    length: 600,
    speed_changes: {
      0: Velocity(dx: 32.0, dy: 0),
    }
  ),
  events: {
    30: [
      SpawnWitch(Sora, Position(x: -600, y: 0)),
    ],
    60: [
      SpawnEnemy(Enemy01, Kamikaze(speed: 8.0, max_angle: 5.0), Position(x: 600, y: 0)),
    ],
  }
)
